{
  "extends": "airbnb-base",
  "rules": {
    "no-extend-native": "off",
    "no-plusplus": "off",
    "no-unused-vars": "off",
    "new-cap": "off",
    "no-param-reassign": "off",
    "no-cond-assign": "off",
    "arrow-body-style": "off"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
